.wrapper {
  display: flex;
  min-width: 100%;
  margin-top: 50px;
}

.container {
  position: relative;
  z-index: 1;

  margin: auto;
}

.formInnerContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.warning {
  transform: translate(-50%, -50%);

  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;

  display: none;
  width: 90%;
  padding: 10px;

  color: var(--whiskey);
  font-size: 25px;
  letter-spacing: 2px;
  font-weight: 700;
  text-align: center;

  background-color: var(--oil);
  opacity: 0;
  border: 3px solid var(--whiskey);
}

.link {
  display: block;
  padding: 10px;
  margin: 10px;

  color: var(--whiskey);

  animation: colorChange 3s infinite;
  background-color: var(--oil);
  border: 3px solid var(--whiskey);
}

.activeWarning {
  display: block;

  animation: opacityChange 0.2s forwards;
}

@keyframes opacityChange {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes colorChange {
  0%,
  100% {
    border-color: var(--whiskey);
  }
  50% {
    border-color: rgb(107, 19, 19);
  }
}
