.wrapper {
  display: flex;
  min-height: 100vh;
  min-width: 100%;
}

.container {
  position: relative;
  z-index: 1;

  margin: auto;
}

.formInnerContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.warning {
  transform: translate(-50%, -50%);

  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;

  display: none;
  width: 90%;
  padding: 10px;

  color: white;
  font-size: 30px;
  font-weight: 700;
  text-align: center;

  background-color: var(--dodger-blue);
  opacity: 0;
  border: 3px solid black;
  border-radius: 10px;
}

.link {
  display: block;
  padding: 10px;
  margin: 10px;

  color: black;

  background-color: #fff;
  border: 3px solid black;
  border-radius: 10px;
}

.activeWarning {
  display: block;
  animation: opacityChange 0.2s forwards;
}

@keyframes opacityChange {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
