.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 325px;
  padding: 20px;

  background-color: var(--night-rider);
  border: 3px solid var(--whiskey);
}

@media screen and (max-width: 780px) {
  .form {
    box-sizing: border-box;
  }
}
