.wrapper {
  display: flex;
}

.container {
  margin: 0 auto;
  margin-top: 50px;
  flex-shrink: 0;
  min-width: 375px;

  color: var(--whiskey);
}

.heading {
  margin: 10px;
  padding: 10px;

  font-size: 30px;
  font-weight: 700;
  text-align: center;

  background-color: var(--oil);
  border: 3px solid var(--whiskey);
}

.tableContainer {
  overflow: hidden;

  width: 100%;
  max-width: 450px;

  border: 3px solid var(--whiskey);
}

.button {
  display: block;
  width: 90%;
  padding: 10px;
  margin: 10px auto;

  font-size: 30px;
  font-weight: 700;

  box-sizing: border-box;
  background-color: var(--night-rider);
  border: 3px solid var(--whiskey);
}
