.wrapper {
  display: flex;
  margin-top: 25px;
}

.container {
  overflow: hidden;

  display: flex;
  width: auto;
  margin: 0 auto;

  color: var(--whiskey);

  border: 3px solid var(--whiskey);
  background-color: var(--oil);
  box-sizing: border-box;
}

.board {
  width: 200px;
  height: 200px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-size: 20px;

  box-sizing: border-box;
  border: 3px solid var(--whiskey);
  border-top: none;
  border-bottom: none;
}

.info div {
  width: 370px;
  padding: 10px;
  height: 40px;

  border-bottom: 3px solid var(--whiskey);
  box-sizing: border-box;
}

.info div:last-child {
  border-bottom: none;
}

.actions {
  display: flex;
  flex-direction: column;
}

.link,
.button {
  display: block;

  color: var(--whiskey);
  font-size: 20px;
  font-weight: 700;
}

.button {
  flex-grow: 1;

  background-color: var(--oil);
}

.linkWrapper {
  display: flex;
  flex-grow: 1;

  background-color: var(--night-rider);
  border-bottom: 3px solid var(--whiskey);
}

.button,
.linkWrapper {
  padding: 5px;
}

.link {
  margin: auto;
}

@media screen and (max-width: 780px) {
  .container {
    flex-direction: column;
    width: 300px;

    box-sizing: content-box;
  }

  .board {
    height: 300px;
    width: 300px;
  }

  .info {
    border: none;
  }

  .info div {
    height: auto;
    width: 300px;
  }

  .info div:last-child {
    border-bottom: 3px solid var(--whiskey);
  }

  .info div:first-child {
    border-top: 3px solid var(--whiskey);
  }
}
